.transparent-window {
	background: none;
}

.initial-state {
	padding: 30px 90px;
}

/* Previewer */
.previewer .sizes,
.previewer .wallpaper grid,
.margins {
	margin: 20px;
}

.previewer grid.smaller {
	margin-bottom: 10px;
}

.previewer grid.larger {
	margin-top: 10px;
}

.previewer .light {
	background: #fafafa;
	color: alpha(black, .8);
}

.previewer .dark {
	background: #242424;
	color: white;
}

.previewer .wallpaper .backdrop {
	background: rgba(0, 0, 0, 0.25);
}

.previewer .wallpaper {
	/* Try again with gtk4 background-size: cover; */
	background-position: center;
	background-image: -gtk-scaled(url("resource://org/gnome/design/AppIconPreview/wallpapers/Adwaita.jpg"),
	                              url("resource://org/gnome/design/AppIconPreview/wallpapers/Adwaita@2.jpg"));
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 1px 8px rgba(0, 0, 0, 0.2);
}

.dark .wallpaper {
	background-image: -gtk-scaled(url("resource://org/gnome/design/AppIconPreview/wallpapers/Adwaita-dark.jpg"),
	                              url("resource://org/gnome/design/AppIconPreview/wallpapers/Adwaita-dark@2.jpg"));
}

.exporter {
	margin: 10px;
}

.exporter .thumbnail {
	border: 1px solid @borders;
	padding: 8px;
	border-radius: 6px;
}

.screenshot-bg {
	background: black;
}
